<!DOCTYPE html>
<html>
<head>
    <title>Atsitiktinės mašinos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        async function openPopup(imageUrl) {
            var popup = window.open("", "_blank");
            var popupContent = "<html><head><title>Didelis vaizdas ir faktas</title><style>body {margin: 0; background-color: #f7f7f7;} img {max-width: 100%; max-height: 100%; display: block; margin: auto; border: 4px solid #eee; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); transition: transform 0.2s ease-in-out;} .fact-container {margin: 20px; text-align: left; font-family: Arial, sans-serif; background-color: #28a745; padding: 10px; border-radius: 5px;} .fact-container h2 {font-size: 20px; color: #333; margin-bottom: 10px;} .fact-container p {font-size: 16px; line-height: 1.5; color: #fff;}</style></head><body style='text-align: center;'><img class='popup-image' src='" + imageUrl + "' alt='Didelis vaizdas'><div class='fact-container'><h2>Random Tractor Fact:</h2><p id='fact'></p></div></body></html>";
            popup.document.write(popupContent);

            try {
                const response = await fetch('http://localhost:5000/random-tractor-fact');
                const data = await response.json();
                const factElement = popup.document.getElementById('fact');
                factElement.innerHTML = data.fact;
            } catch (error) {
                console.error('Error fetching tractor facts:', error);
            }
        }

        async function downloadImage(imageUrl) {
            try {
                const response = await fetch(imageUrl);
                const blob = await response.blob();
                const timestamp = new Date().getTime();
                const filename = `image_${timestamp}.jpg`;
                const url = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', filename);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                window.URL.revokeObjectURL(url);
            } catch (error) {
                console.error('Error downloading image:', error);
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <h1>Atsitiktinės mašinos</h1>
    </div>
    <div class="button-container">
        <form action="/" method="post">
            <button class="get-image-btn" type="submit">Gauti naują vaizdą</button>
        </form>
        {% if image_url %}
            <button class="popup-btn" onclick="openPopup('{{ image_url }}')">Atidaryti didelį vaizdą ir faktą</button>
            <button class="download-btn" onclick="downloadImage('{{ image_url }}')">Parsisiųsti vaizdą</button>
        {% endif %}
    </div>
    <div class="image-container">
        {% if image_url %}
            <img src="{{ image_url }}" alt="Dideli mechanizmai vaizdas">
        {% else %}
            <p>Nepavyko gauti vaizdo.</p>
        {% endif %}
    </div>
</body>
</html>
